@model RM.Unify.Sdk.SampleApp2.Models.Post

@using (Html.BeginForm())
{
  @Html.ValidationSummary(true, "A blog post must have a title and a body", new { Class = "alert alert-danger" })

  <div class="form-group posttitle">
    @Html.TextBoxFor(model => model.Title, new { placeholder = "Title", Class = "form-control" })
  </div>
  <div class="form-group postbody">
    @Html.TextAreaFor(model => model.Body, new { placeholder = "Type your blog post here", Class = "form-control" })
  </div>

  <div class="buttons">
    <button class="btn btn-primary">Save</button>
    @Html.ActionLink("Cancel", "Index", null, new { Class = "btn btn-default" })
  </div>
}