@model RM.Unify.Sdk.SampleApp2.ViewModels.AccountViewModel
<h2>
  Delete user
</h2>
<div class="row">
  <div class="col-md-12">
  Are you sure you want to delete @Html.DisplayFor(model => model.DisplayName) (@Html.DisplayFor(model => model.LoginName))?</h3>
  </div>
</div>
@using (Html.BeginForm())
{
  <div class="buttons">
    <button class="btn btn-primary">Delete</button>
    @Html.ActionLink("Cancel", "Index", null, new { Class="btn btn-default" })
  </div>
}